.chess-game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid red; */
    gap: 50px;
}

.chess-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.chess-board-rank {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.chess-board-cell {
    width: 75px;
    height: 75px;
}
.bright-cell {
    background: #d1dee3;
}
.dark-cell {
    background: #88a6ba;
}

.chess-board-piece {
    width: 100%;
    height: 100%;
}




.moves-container {
    height: calc(75px*8);
    width: 300px;
    overflow-y: auto;
    border: 2px solid grey;
    border-radius: 15px;
    position: relative;
}
.moves-container::-webkit-scrollbar {
    display: none;
}

.moves-container h1 {
    position:sticky;
    top: 0;
    background: white;
    text-align: center;
    border-bottom: 2px solid grey;
}

.moves {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.move {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}
/* TODO:
.move:nth-child(odd) {
    background: rgb(242, 242, 242);
} */

.move-number {
    font-weight: bold;
    width: 40px;
    text-align: right;
    margin-right: 20px;
}

.move-content {
    font-weight: bold;
    width: 100px;
    text-align: left;
}

.move-by-white {
    color: blue;
}
.move-by-black {
    color: red;
}
